{
  "extends": [
    "styleguidejs/typescript"
  ],
  "rules": {
    "import/extensions": [
      "error",
      "never",
      {
        "css": "always",
        "json": "always",
        "svg": "always",
        "types": "always"
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/*.test.ts",
          "**/*.test.tsx",
          "**/testUtils.tsx",
          "tailwind.config.js"
        ]
      }
    ],
    "import/no-named-as-default": 0,
    "no-plusplus": 0
  }
}