{
  "extends": [
    "styleguidejs/typescript"
  ],
  "rules": {
    "import/extensions": [
      "error",
      "never",
      {
        "css": "always",
        "json": "always",
        "svg": "always"
      }
    ]
  }
}