@import './bootstrap-reboot.css';

body, p, h1, input {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #606676;
  font-weight: 300;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 2.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 0 15px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.subtitle {
  font-size: 22px;
  font-weight: 100;
  line-height: 32px;
  color: #5e6977;
  width: 55%;
  margin: 20px auto 40px;
}

.view {
  display: flex;
  flex: 1;
  height: 100vh;
}