@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";
@source "../**/*.{js,jsx,ts,tsx}";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --spacing: 4px;
  --font-body: Inter, sans-serif;

  --color-primary: #4e207a;
  --color-primary-300: #9d90fd;
  --color-primary-700: #341f53;
  --color-secondary: #0088AB;
  --color-secondary-100: #94e6ff;
  --color-secondary-300: #00b8f0;
  --color-secondary-700: #00AACC;
  --color-background-black: #111111;
  --color-background-primary: #eae6f2;
  --color-background-secondary: #341f53;
  --color-background-white: #999999;
  --color-link: #59417c;
  --color-link-300: #59417c;
  --color-link-700: #265ac2;
  --color-white: #f7f7f7;
  --color-black: #323232;
  --color-neutral: #4e4e4e;
  --color-neutral-300: #9e9e9e;
  --color-neutral-700: #1a1a1a;
  --color-error: #f11a41;
  --color-error-300: #f11a41;
  --color-error-700: #f11a41;
  --color-warning: #f11a41;
  --color-warning-300: #f11a41;
  --color-warning-700: #f11a41;
  --color-success: #f11a41;
  --color-success-300: #f11a41;
  --color-success-700: #f11a41;
  --color-info: #f11a41;
  --color-info-300: #f11a41;
  --color-info-700: #f11a41;

  --color-primary-dark: #623aa2;
  --color-primary-dark-300: #a98fff;
  --color-primary-dark-700: #341f53;
  --color-secondary-dark: #324c9f;
  --color-secondary-dark-300: #6279c2;
  --color-secondary-dark-700: #131024;
  --color-white-dark: #444444;
  --color-black-dark: #f1f1f1;
  --color-link-dark: #598cf1;
  --color-link-dark-300: #8ab1ff;
  --color-link-dark-700: #265ac2;
  --color-white-dark: #dcd3ff;
  --color-black-dark: #10101c;
  --color-neutral-dark: #f7f7f7;
  --color-neutral-dark-300: #9e9e9e;
  --color-neutral-dark-700: #1a1a1a;
  --color-error-dark: #f11a41;
  --color-error-dark-300: #f11a41;
  --color-error-dark-700: #f11a41;
  --color-warning-dark: #f11a41;
  --color-warning-dark-300: #f11a41;
  --color-warning-dark-700: #f11a41;
  --color-success-dark: #f11a41;
  --color-success-dark-300: #f11a41;
  --color-success-dark-700: #f11a41;
  --color-info-dark: #f11a41;
  --color-info-dark-300: #f11a41;
  --color-info-dark-700: #f11a41;
  --color-background-black-dark: #999999;
  --color-background-primary-dark: #353342;
  --color-background-secondary-dark: #131024;
  --color-background-white-dark: #111111;
}

input:-internal-autofill-selected,
  input:-internal-autofill-selected:hover ,
  input:-internal-autofill-selected:focus,
  input:-internal-autofill-selected:active,
  input:-internal-autofill-selected:focus-visible,
  input:-internal-autofill-selected:focus-within,
  input:-internal-autofill-previewed,
  input:-internal-autofill-previewed:hover,
  input:-internal-autofill-previewed:focus,
  input:-internal-autofill-previewed:active,
  input:-internal-autofill-previewed:focus-visible,
  input:-internal-autofill-previewed:focus-within,
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-internal-autofill-selected,
  textarea:-internal-autofill-previewed,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-internal-autofill-selected,
  select:-internal-autofill-previewed,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    background-color: inherit !important;
    -webkit-background-composite: unset !important;
    -webkit-box-shadow: inherit inset !important;
    -webkit-text-fill-color: inherit !important;
  }
